<form>
  <div class="form-group">
    <label for="commenter">Username</label>
    {{input value=commenter id="commenter"}}
  </div>

  <div class="form-group">
    <label for="comment">Comment</label><br>
    {{input value=comment id="comment"}}
  </div>

  <button class='btn btn-danger' {{action 'save'}}>Save</button>
</form>
