<div class="row">
  <div class="col-sm-12">
    <h1 class='title'>Frizbee Review</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-8">
    {{#each model.blogs as |blog|}}
      <div class="row mainBox">
        <div class="col-sm-12">
          {{frizbee-tile blog=blog}}
        </div>
      </div>
    {{/each}}
  </div>
  <div class="mainBox col-sm-3 col-sm-offset-1">
    <h3>Quickbar</h3>
    {{#each model.blogs as |blog|}}
      <p class='quickies'>{{#link-to 'blog' blog.id}}{{blog.title}}{{/link-to}}</p>
    {{/each}}
  </div>
</div>
