<div class="row">
  <div class="col-sm-12">
    <h1 class='title'>Frizbee Review</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-9">
    {{#each model.blogs as |blog|}}
      <div class="row">
        <div class="col-sm-12">
          {{frizbee-tile blog=blog}}
        </div>
      </div>
    {{/each}}
  </div>
  <div class="col-sm-3">
    <h3>sidebar</h3>
    {{#each model.blogs as |blog|}}
      <p>{{blog.title}}</p>
    {{/each}}
  </div>
</div>
